# Séance 3
## Trier les structures de données
Dans cette séance nous allons étudier comment et pourquoi trier notre structure de donnée.

### Rappels et reprise de la séance précédente
Mais avant il nous faut reprendre comme point de départ les étapes réalisées dans les séances précédente. Commençons donc par importer nos outils et nos données.

#### Imports des librairies nécessaires

In [1]:
import csv    # import de la librairie CSV permettant la manipulation des fichiers (voir séance 1)
from PythonSeance3.s3_correction import exo_import_donnee

#### Import des données CSV
Ecrivez ci-dessous le code de chargement du fichier passé en paramètre.
Les noms de fichiers à votre disposition sont (du plus lourd au plus léger) :
- nat2018_epured_5k.csv
- nat2018_n20.csv
- nat2018_r300

In [ ]:
def importer_donnees(fichier):
    #-------------------------
    # insérez votre code ici  |
    #-------------------------
    return 
            # Retrournez les donnés chargées sous forme de liste de lignes (objet de type 'list')
            # chaque ligne étant une liste des valeurs du fichier chargé

In [6]:
def importer_donnees(fichier):
    with open(fichier, encoding='utf-8-sig') as nat_file:
        nat_data = csv.reader(nat_file, delimiter=';')
        nat_list = []
        for row in nat_data:
            if nat_data.line_num == 1:
                nat_list.append(row)
            else:
                nat_list.append([row[0], row[1], int(row[2]), int(row[3])])
    return nat_list

##### Vérification de la fonction d'import de donnée
Exécutez les cellules ci-dessous pour vérifier le bon fonctionnement de votre code

In [2]:
exo_import_donnee.example(3)

In [4]:
# Fonction de vérification de votre code d'import de donnée.
# Cette fonction appelle la votre et vérifie aléatoirement certaines lignes de la liste 
def verifier_donnees(fichier, index):
    liste = importer_donnees(fichier)
    return liste[index]

In [7]:
exo_import_donnee.correction(verifier_donnees)

#### Calcul de l'age moyen
Reprenons ici le code pour calculer l'age moyen d'un prénom, puis généralisons le pour générer une table.

In [ ]:
# Extrait de la structure de donnée telle qu'elle est créée à l'import
prenom_data = [["2","RAYMONDE","1954","831"],
["2","RAYMONDE","1955","719"],
["2","RAYMONDE","1956","649"],
["2","RAYMONDE","1957","564"],
["2","RAYMONDE","1958","508"],
["2","RAYMONDE","1959","488"],
["2","RAYMONDE","1960","381"],
["2","RAYMONDE","1961","299"],
["2","RAYMONDE","1962","280"],
["2","RAYMONDE","1963","241"],
["2","RAYMONDE","1964","217"],
["2","RAYMONDE","1965","165"],
["2","RAYMONDE","1966","155"],
["2","RAYMONDE","1967","138"]]

In [ ]:
def age_moyen(donnees):
    #-------------------------
    # insérez votre code ici  |
    #-------------------------
    return 
            # Retrournez la valeur de l'age moyen en int

In [ ]:
importer_donnees('nat2018_epured_5k.csv')